<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.danyeoall.plan.PlanMapper">

    <insert id="insPlan" useGeneratedKeys="true" keyProperty="planMasterId">
        INSERT INTO plan_master
        SET user_id = #{userId}
        , city_id = #{cityId}
        , start_date = #{startDate}
        , end_date = #{endDate}
        , people_cnt = #{peopleCnt}
        , plan_date = DATEDIFF(end_date, start_date)
    </insert>

    <insert id="insPlanDetail" useGeneratedKeys="true" keyProperty="planId">
        INSERT INTO plan_detail
        SET plan_master_id = #{planMasterId}
        , place_id = #{placeId}
        , price = #{price}
        , memo = #{memo}
        , start_time = #{startTime}
        , end_time = #{endTime}
        , `date` = #{date}
    </insert>

    <select id="selMasterPlan">
        SELECT plan_master_id, user_id AS userId, city_id AS cityId, start_date AS startDate
        , end_date AS endDate, people_cnt AS peopleCnt, plan_date AS planDate
        FROM plan_master
        WHERE plan_master_id = #{planMasterId}
    </select>

    <select id="selPlanOnly">
        SELECT A.plan_master_id, A.start_date AS startDate, A.end_date AS endDate, A.people_cnt AS peopleCnt, A.plan_date
        , C.city_kor_name AS cityName, C.color, C.city_id
        FROM plan_master A
        INNER JOIN plan_detail B
        ON A.plan_master_id = B.plan_master_id
        INNER JOIN city C
        ON C.city_id = A.city_id
        WHERE A.plan_master_id = #{planMasterId}
        LIMIT 1
    </select>

    <select id="selPlanList">
        SELECT B.plan_id AS planId, B.place_id AS placeId
        , B.price, B.memo, B.start_time AS startTime
        , B.end_time AS endTime, B.`date`
        , C.category, C.place_name AS placeName
        , C.place_address AS placeAddress
        FROM plan_master A
        INNER JOIN plan_detail B
        ON A.plan_master_id = B.plan_master_id
        INNER JOIN city_place C
        ON C.place_id = B.place_id
        WHERE A.plan_master_id = #{planMasterId}
    </select>

    <select id="selPlanSumPrice">
        SELECT SUM(B.price) AS price
        FROM plan_master A
        INNER JOIN plan_detail B
        ON A.plan_master_id = B.plan_master_id
        WHERE A.plan_master_id = #{planMasterId}
    </select>

    <select id="selPlanDayPrice">
        SELECT SUM(B.price) AS price
        FROM plan_master A
        INNER JOIN plan_detail B
        ON A.plan_master_id = B.plan_master_id
        WHERE A.plan_master_id = #{planMasterId}
        GROUP BY B.`date`
        HAVING SUM(B.price)
    </select>

    <select id="selExistCityPlaceByPlaceName">
        SELECT COUNT(place_name) AS exist, place_id
          FROM city_place
         WHERE place_name = #{placeName}
    </select>

    <update id="updPlan">
        UPDATE plan_detail
        <set>
            <if test=" price != null and price != '' ">
                price = #{price}
            </if>
            <if test=" memo != null and memo != '' ">
                ,memo = #{memo}
            </if>
            <if test=" startTime != null and startTime != '' ">
                ,start_time = #{startTime}
            </if>
            <if test=" endTime != null and endTime != '' " >
                ,end_time = #{endTime}
            </if>
            <if test=" date != null and date != '' " >
                ,date = #{date}
            </if>
        </set>
        WHERE plan_id = #{planId}
        AND place_id = #{placeId}
    </update>

    <delete id="delPlan">
        DELETE FROM plan_master
        WHERE plan_master_id = #{planMasterId}
    </delete>

    <delete id="delPlanDetail">
        DELETE FROM plan_detail
        WHERE plan_id = #{planId}
    </delete>
</mapper>